/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 1, 2024, 11:09:55 PM
    Author     : user
*/
 .left-form{
    -fx-background-color:linear-gradient(to bottom,#4397cc,#17526b  );
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}
.right-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px 0px;
}
.close{
    -fx-background-color:  transparent;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: #4397cc
}
.login-btn{
    -fx-background-color: linear-gradient(to bottom,#4397cc,#17526b );
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family:Arial;
    -fx-cursor: hand;    
}
.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom,#3aa5cc,#236a94 );
}